.profile {
    border: 2px solid rgb(12, 11, 11);
}
.description {
  border-bottom: 2px solid rgb(12, 11, 11);
}
.avatar {
    width: 270px;
    padding-top: 10px;
}
.name {
    text-align: center;
}
.tag {
    font-size: 30px;
        text-align: center;
}
.location {
    font-size: 30px;
        text-align: center;
}
.stats {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}
.title {
    display: flex;
    flex-direction: column;
    
    
}
.label {
font-size: 18px;
}
.quantity {
    font-size: 20px;
    text-align: center;
    font-weight: 600;
}
