.statistics {
    text-align: center;
   
}
.title {
    margin-bottom: 5px;
}
.stat_list {
    display: flex;
    list-style-type: none;
    margin-bottom: 5px;
    margin-top: 0;
    padding-left: 0;
}
.item {
    display: flex;
    flex-direction: column;
    margin-right: 5px;
    
}